@import '../node_modules/scss-reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

$black: #000000;
$purple: #7900FF;
$white: #FFFFFF;

/* Rolo e tamanho */
::-webkit-scrollbar {
    width: 5px;
}

/* cor da barra */
::-webkit-scrollbar-track {
    background: $black;
}

/* Cor da barra de rolagem antes de clicar  */
::-webkit-scrollbar-thumb {
    background: $purple;
}

/* Cor da barra de rolagem depois de clicar. */
::-webkit-scrollbar-thumb:hover {
    background: $black;
}

a {
    text-decoration: none;
}

body {
    background-color: $black;
    font-family: 'Tajawal', sans-serif;
    color: $white;
}

.cabecalho {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.cabecalho__imagem {
    width: 150px;
    padding-left: 20px; 
}

.secao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.listas {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.lista__item {
    width: 300px;
    height: 80px;
    align-self: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}

.lista__item:nth-child(2n){
    background-color: $purple;
}

.lista__item:nth-child(2n + 1){
    background-color: $white;
}

.lista__imagem{
    width: 40px;
    margin: 0 20px;
}

.lista__link{
    font-size: 1.8rem;
    font-weight: bold;
    height: 25px;
}

.cor-branca{
    color: $white;
}

.cor-roxa {
    color: $purple;
}

.lista__paragrafo {
    color: $purple;
    font-weight: bold;
    font-size: 12px;
    padding-left: 10px;
}

.rodape {
    height: 50px;
    padding: 20px 0 0 20px;
}

.rodape__imagem {
    width: 150px;
}

@media screen and (min-width: 768px) {

    .secao {
        height: 620px;
    }

    .lista__item {
        width: 400px;
        height: 100px;
    }
}

@media screen and (min-width: 1024px) {

    .secao {
        height: 620px;
    }

    .lista__item {
        width: 500px;
        height: 200px;
    }
}