@import '../../node_modules/scss-reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

$black: #000000;
$purple: #7900FF;
$white: #FFFFFF;

/* Rolo e tamanho */
::-webkit-scrollbar {
    width: 5px;
}

/* cor da barra */
::-webkit-scrollbar-track {
    background: $black;
}

/* Cor da barra de rolagem antes de clicar  */
::-webkit-scrollbar-thumb {
    background: $purple;
}

/* Cor da barra de rolagem depois de clicar. */
::-webkit-scrollbar-thumb:hover {
    background: $black;
}

body {
    background-color: $black;
    font-family: 'Tajawal', sans-serif;
    color: $white;
    height: 100vh;

    main {
        height: 80vh;
    
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            a {
                text-decoration: none;
            }
        }
    }
}

.cabecalho {
    display: flex;
    justify-content: flex-start;
    height: 10vh;

    .cabecalho__imagem {
        width: 220px;
        padding-left: 20px; 
    }
}

.container {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; 

    .botao__link {
        background-color: $purple;
        width: 250px;
        height: 60px;
        color: $white;
        display: flex;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 20px;

        .botao__imagem {
            margin-left: 20px;
            width: 40px;
        }

        .botao__texto {
            font-size: 1.5rem;
            padding-top: 6px;
            margin-left: 15px;
        }
    }

    .bg-color-branco {
        background-color: $white;
    }

    .font-roxa{
        color: $purple;
    }
}

.rodape {
    display: flex;
    height: 10vh;
    align-items: center;

    .rodape__texto {
        padding-left: 20px;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .rodape__autor {
       color: $purple;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px;

        .botao__link {
            width: 400px;
            height: 60px;

            .botao__texto{
                font-size: 2rem;
                padding-top: 8px;
            }

            .botao__imagem{
                width: 40px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 900px;

        .botao__link {
            width: 500px;
            height: 60px;

            .botao__imagem {
                width: 40px;
            }

            .botao__texto{
                font-size: 2rem;
                padding-top: 12px;
            }
        }
    }
}
